

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Forms</h2>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="forms.view.html">Forms</a></li>
        <li role="presentation"><a href="#/formfields">Fields</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><a href="#" class="glyphicon glyphicon-triangle-bottom sortIcon"></a>Form Name</th>
                <th><a href="#" class="glyphicon glyphicon-triangle-bottom sortIcon"></a>Action</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td><input ng-model="newForm.name" class="form-control" type="text" name="username" placeholder="name"/></td>
                <td style="white-space: nowrap">
                    <a href="#" ng-click="addForm(newForm)" class="btn btn-success">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#" ng-click="updateForm(newForm)" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-ok"></scan>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="form in userForms">
                <td><a href="form-fields.view.html"/>{{form.title}}</td>
                <td>
                    <a href="#"  ng-click="deleteForm()" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#" ng-click="selectForm($index)" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

