<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Form Maker</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../home/home.view.html">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Username</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="../home/home.view.html">Home</a>
                </li>
                <li>
                    <a href="../users/profile.view.html">Profile</a>
                </li>
                <li>
                    <a href="../admin/admin.view.html">Admin</a>
                </li>
                <li class="active">
                    <a href="forms.view.html">Forms</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Forms</h2>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="forms.view.html">Forms</a></li>
        <li role="presentation"><a href="form-fields.view.html">Fields</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><a href="#" class="glyphicon glyphicon-triangle-bottom sortIcon"></a>Form Name</th>
                <th><a href="#" class="glyphicon glyphicon-triangle-bottom sortIcon"></a>Action</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td><input class="form-control" type="text" name="username" placeholder="name"/></td>
                <td style="white-space: nowrap">
                    <a href="#" class="btn btn-success">
                        <scan class="glyphicon glyphicon-ok"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="form-fields.view.html"/> Registration Form</td>
                <td>
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td><a href="form-fields.view.html"/>Contact List</td>
                <td>
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td><a href="form-fields.view.html"/>To Do List</td>
                <td>
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>

