<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="../dm-instructor/dminstructor.view.html">Instructors</a></li>
                <li role="presentation" class="active"><a href= "../dm-student/dmstudent.view.html">Students</a></li>
                <li role="presentation"><a href= "../dm-tutorial/dmtutorial.view.html">Tutorial</a></li>

