<div class="container-fluid">
<form>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" ng-model="user.email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember
        </label>
    </div>
    <button ng-click="login(user)" class="btn btn-default">Login</button>
</form>
</div>