.navbar-nav{
    float: right;
}
.home-header{
    /*background: #f6512b;*/
    background: linear-gradient(#F6882E, #F25950);
    /*background: linear-gradient(#23A8C6, #5F6EB3);*/
    display: block;
    padding-bottom: 5%;
    padding-top: 5%;
    width: auto;
}

.form-card{
    padding: 2% 2% 2% 2%;
    background: #F8F8F8;
    border-radius: 1%;
    margin-top: 5%;
    margin-bottom: 3%;
    max-width: 35%;
}
.main-form-field{
    margin-left: 5%;
    max-width: 75%;
}
.second-half{
    margin-top: 10%;
}
.main-title{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 0;
    color: #ffffff;
}
.box{
    padding: 50%;
    background-color: #F25950;
    max-height: 100px;
}
.screen{
    margin-top: 5%;
}
.thumbnail{
    width: 100%;
    height: 70%;
}
.pages-gap{
    margin-top: 4%;
    width: auto;
    max-width: 100%;
}

/*****************************************/
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.wrapImage{
    float:left;
    padding-right: 2%;
    padding-bottom: 2%;
}

.box-profile{
    margin: 2% 2% 2% 2%;
    padding-bottom: 1%;

}

.btn-nowrap{
    white-space: nowrap;
}