<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
    <h2>Forms: Registration</h2>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#">Forms</a></li>
        <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
    </ul>

    <div class="table-responsive padding" ng-model="fields">
        <table class="table">
            <div class="row col-xs-12" ng-repeat="field in fields">
                <div class="col-xs-6">
                    <form-field data="field"></form-field>
                </div>
                <div class="col-xs-6">
                    <a href="#" class="btn btn-sm btn-primary">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-sm btn-success">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#" class="btn btn-sm btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#" class="btn btn-sm btn-warning">
                        <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                    </a>
                </div>
            </div>
        </table>
    </div>

    <label class="form-group padding-left" for="dropdown">Add new field: </label>
    <div class="row form-group col-xs-12">
        <div class="col-xs-8">
            <select class="form-control" id="dropdown" ng-model="model.fieldType">
                <option>Single Line Text</option>
                <option>Date</option>
                <option>Dropdown</option>
                <option>Checkboxes</option>
                <option>Radio Buttons</option>
                <option>Paragraph Text Field</option>
            </select>
        </div>
        <div class="col-xs-4">
            <a href="#" class="btn btn-sm btn-success btn-padding">
                <scan ng-click="addField(model.fieldType)" class="glyphicon glyphicon-plus"></scan>
            </a>
        </div>
    </div>
</div>

    <!--<div id="formField">-->
        <!--<form>-->
            <!--<label for="firstNm">First Name:</label>-->
            <!--<div class="row form-group">-->
                <!--<div class="col-xs-6">-->
                    <!--<input type="text" ng-model="form.firstname" class="form-control" id="firstNm" placeholder="First Name">-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                    <!--<a href="#" class="btn btn-sm btn-primary">-->
                        <!--<scan class="glyphicon glyphicon-pencil"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-success">-->
                        <!--<scan class="glyphicon glyphicon-plus"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-danger">-->
                        <!--<scan class="glyphicon glyphicon-remove"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-warning">-->
                        <!--<scan class="glyphicon glyphicon-menu-hamburger"></scan>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<label for="lastNm">Last Name:</label>-->
            <!--<div class="row form-group">-->
                <!--<div class="col-xs-6">-->
                    <!--<input type="text" ng-model="form.lastname" class="form-control" id="lastNm" placeholder="Last Name">-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                    <!--<a href="#" class="btn btn-sm btn-primary">-->
                        <!--<scan class="glyphicon glyphicon-pencil"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-success">-->
                        <!--<scan class="glyphicon glyphicon-plus"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-danger">-->
                        <!--<scan class="glyphicon glyphicon-remove"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-warning">-->
                        <!--<scan class="glyphicon glyphicon-menu-hamburger"></scan>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<label for="dob">Date of Birth:</label>-->
            <!--<div class="row form-group">-->
                <!--<div class="col-xs-6">-->
                    <!--<input type="date" ng-model="form.dob" class="form-control" id="dob" placeholder="Date of Birth">-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                    <!--<a href="#" class="btn btn-sm btn-primary">-->
                        <!--<scan class="glyphicon glyphicon-pencil"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-success">-->
                        <!--<scan class="glyphicon glyphicon-plus"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-danger">-->
                        <!--<scan class="glyphicon glyphicon-remove"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-warning">-->
                        <!--<scan class="glyphicon glyphicon-menu-hamburger"></scan>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<label for="gender">Gender:</label>-->
            <!--<div class="row form-group">-->
                <!--<div class="col-xs-6">-->
                    <!--<select ng-model="form.gender" class="form-control" id="gender">-->
                        <!--<option>Male</option>-->
                        <!--<option>Female</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                    <!--<a href="#" class="btn btn-sm btn-primary">-->
                        <!--<scan class="glyphicon glyphicon-pencil"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-success">-->
                        <!--<scan class="glyphicon glyphicon-plus"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-danger">-->
                        <!--<scan class="glyphicon glyphicon-remove"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-warning">-->
                        <!--<scan class="glyphicon glyphicon-menu-hamburger"></scan>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<label for="roles">Roles:</label>-->
            <!--<div class="row form-group">-->
                <!--<div class="col-xs-6">-->
                    <!--<div id="roles" class="checkbox">-->
                        <!--<label>-->
                            <!--<input type="checkbox" value="">-->
                            <!--Admin-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input type="checkbox" value="">-->
                            <!--Student-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input type="checkbox" value="">-->
                            <!--Faculty-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                    <!--<a href="#" class="btn btn-sm btn-primary">-->
                        <!--<scan class="glyphicon glyphicon-pencil"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-success">-->
                        <!--<scan class="glyphicon glyphicon-plus"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-danger">-->
                        <!--<scan class="glyphicon glyphicon-remove"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-warning">-->
                        <!--<scan class="glyphicon glyphicon-menu-hamburger"></scan>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<label for="radio1">License Agreement:</label>-->
            <!--<div class="row form-group">-->
                <!--<div class="col-xs-6">-->
                    <!--<div class="radio">-->
                        <!--<label>-->
                            <!--<input type="radio" name="optionsRadios" id="radio1" value="option1" checked>-->
                            <!--Yes-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="radio">-->
                        <!--<label>-->
                            <!--<input type="radio" name="optionsRadios" id="radio2" value="option2">-->
                            <!--No-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                    <!--<a href="#" class="btn btn-sm btn-primary">-->
                        <!--<scan class="glyphicon glyphicon-pencil"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-success">-->
                        <!--<scan class="glyphicon glyphicon-plus"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-danger">-->
                        <!--<scan class="glyphicon glyphicon-remove"></scan>-->
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-sm btn-warning">-->
                        <!--<scan class="glyphicon glyphicon-menu-hamburger"></scan>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="border"></div>-->

            <!--<label for="dropDown">Add new field: </label>-->
            <!--<div class="row form-group">-->
                <!--<div class="col-xs-6">-->
                    <!--<select ng-model="model.fieldType" class="form-control" id="dropDown">-->
                        <!--<option>Single Line Text</option>-->
                        <!--<option>Date</option>-->
                        <!--<option>Dropdown</option>-->
                        <!--<option>Checkboxes</option>-->
                        <!--<option>Radio Buttons</option>-->
                        <!--<option>Paragraph Text Field</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                    <!--<a href="#" class="btn btn-sm btn-success">-->
                        <!--<scan ng-click="addField(model.fieldType)" class="glyphicon glyphicon-plus"></scan>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->

<!--</div>-->