

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Forms</h2>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
        <li role="presentation"><a href="#/fields">Fields</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom sortIcon"></span>Form Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom sortIcon"></span>Action</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td><input ng-model="selectedForm.title" class="form-control" type="text" name="username"/></td>
                <td style="white-space: nowrap">
                    <a ng-click="addForm(selectedForm)" class="btn btn-success">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a ng-click="updateForm(selectedForm)" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-ok"></scan>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="form in userForms">
                <td><a href="" ng-click="formFields(form)">{{form.title}}</a></td>
                <td>
                    <a ng-click="deleteForm(form)" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a ng-click="selectForm(form)" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

