
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Register</h1>
    <div>
        <form action="profile.view.html">
            <div class="form-group">
                <label for="usrnm" class="control-label">Username</label>
                <input type="text" class="form-control" id="usrnm" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="pass1" class="control-label">Password</label>
                <input type="password" class="form-control" id="pass1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="pass2" class="control-label">Verify Password</label>
                <input type="password" class="form-control" id="pass2" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-block">Register</button>
            </div>
        </form>
    </div>
</div>

