
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Profile</h1>
    <form>
        <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" ng-model="user.username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="pass" class="control-label">Password</label>
            <input type="password" ng-model="user.password" class="form-control" id="pass" placeholder="Type Password">
        </div>
        <div class="form-group">
            <label for="fname" class="control-label">First Name</label>
            <input type="text" ng-model="user.firstName" class="form-control" id="fname" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="lname" class="control-label">Last Name</label>
            <input type="text" ng-model="user.lastName" class="form-control" id="lname" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" ng-model="user.emails[0]" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <button ng-click="update(user)" class="btn btn-default btn-block">Update</button>
        </div>
    </form>
</div>



