<!-- Fixed navbar -->
<div class="container-fluid">
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-class="{'active': location.url()=== '/'}" href="#/home">Tutorial App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-controller="HeaderController">
            <ul class="nav navbar-nav">
                <li ng-show="currentUser" ng-class="{'active': location.url()=== '/tutorials'}"><a href="#/tutorial">Tutorials</a></li>
                <li ng-class="{'active': location.url()=== '/about'}"><a href="#/about">About</a></li>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input ng-model="query.keyword" type="text" class="form-control" placeholder="Search tutorials">
                    </div>
                    <a ng-click="search(query)" class="btn btn-default">Submit</a>
                </form>
                <li ng-hide="currentUser" ng-class="{'active': location.url()==='/login'}"><a href="#/login">Sign In</a></li>
                <li ng-hide="currentUser" ng-class="{'active': location.url()==='/register'}"><a href="#/register">Sign Up</a></li>
                <li ng-show="currentUser"><a ng-click="logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
</div>